pyyaml>=6.0
Pillow>=2.6.1
#RPi.GPIO>=0.6.3 
RPi.GPIO==0.7.1a4
spidev>=3.0
gpiozero>=1.6.2
flask>=1.0.2
smbus>=1.1.post2
#astral>=2.2
matplotlib==3.4.3
scipy>=1.7.1
numpy>=1.21.2
lifxlan>=1.2.7
psutil>=5.5.1
git+https://github.com/chrisjtwomey/rpi-epd3in7.git@master#egg=rpi_epd3in7
git+https://github.com/nicmcd/vcgencmd.git